/* || Imported fonts */

@font-face {
    font-family: "noto-sans";
    src: url("./fonts/noto-sans/NotoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "noto-sans";
    src: url("./fonts/noto-sans/NotoSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* || Zeroing default styles */

:root {
    box-sizing: border-box;
    --primary-text: #15141a;
    --secondary-text: #5b5b66;
    --purple: #44208d;
    --green: #00866b;
    --dark-grey: #3d434a;
    --light-grey: #f0f0f4;

    font-family: "noto-sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;

}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* || Basic styles */

body {
    color: var(--text-color);
}

p {

}

h1, h2, h3, h4, h5, h6 {

}

a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* || Utilities */

.no-bullets {
    list-style: none;
}

/* || Site top bar styles */

/* || Guides bar */

.guides-bar {
    background-color: var(--purple);
    display: block;
    line-height: 1.4rem;

    font-size: smaller;
    font-weight: 700;
}

.guides-bar-list {
    color: white;
}

.guides-bar-list li {
    display: inline-flex;
    position: relative;
}

.guides-bar-list li:not(:last-of-type)::after {
    color: white;
    content: '|';
    margin: auto;
}

.guides-bar-list a {
    padding: 8px;
}
